.infoBox {
  flex: 1;
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
  margin-right: 20px;
}

.recovered {
  flex: 1;
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
  margin-right: 20px;
}

.deaths {
  flex: 1;
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.info__cases {
  color: rgba(0, 0, 255, 0.5);
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.info__total {
  color: #6c757d;
  font-weight: 1000 !important;
  font-size: 2rem !important;
  margin-top: 15px !important;
}

.info__title {
  font-size: 35px;
}
