* {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
  min-width: 200px;
}

.app__left {
  flex: 0.9;
}

.app__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

button {
  text-transform: inherit !important;
  background-color: rgba(0, 0, 255, 0.5) !important;
  color: white !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
  color: white !important;
  background-color: black !important;
  text-transform: inherit !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.country__flag {
  object-fit: contain;
  height: 20px;
  margin-right: 5px;
  width: 100%;
}

.dropdown__items {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.app__right > .btn-logout {
  width: 25%;
  object-fit: contain;
  font-size: large;
}

.box__text1 {
  color: rgba(0, 0, 255, 0.5);
  padding-right: 5px;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}

.box__text {
  position: relative;
  border: 2px rgba(0, 0, 255, 0.5) solid;
  color: rgba(0, 0, 0, 0.5);
  background-color: #f0ece3;
  border-radius: 5px;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}
