* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
  min-width: 200px;
}

.app__left {
  flex: 0.9;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

button {
  text-transform: inherit !important;
  background-color: #eef2ff !important;
  color: black;
}

button:hover {
  color: black;
  background-color: #a5b4fc !important;
  text-transform: inherit !important;
}

.country__flag {
  object-fit: contain;
  height: 20px;
  margin-right: 5px;
  width: 100%;
}

.dropdown__items {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
